.tag{
    padding: 8px;
    background: var(--color-aquarius-100);
    color: var(--color-aquarius-900);
    border-radius: 2px;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}
.tag a {
    color: var(--color-aquarius-900);
}

